@{
    ViewBag.Title = "About Foodies";
}
<h2 style="text-align:center">@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<hr />
<div class="well" style="background-color:whitesmoke">
    <div class="col-lg-6">

        <h4 style="text-align:left">Our Analysis of the Problem </h4>
        <br />
        <div class="well" style="background-color:white">
            <ul>
                <li>
                    <p>
                        The human race is a very social race. People are very interdependent to each other. It can be seen in our everyday life, where we communicate with any and everyone, in sometimes unnoticeable ways. Through the invention of the internet, the aspects of social interaction has increased tenfold, which gave birth to the Social Network Services that we all follow and use today. This human need to be social led to the creations of MySpace, Friendster, Facebook, Twitter, Instagram and Tumblr. Each social network service serves a different social purpose that makes it different from the other service but are collectively the same concept.
                    </p>
                </li>
            </ul>

        </div>
        <br />

        <div class="well" style="background-color:white">
            <ul>
                <li>
                    <p>
                        Throughout the years of social network development, there has been several trends that the socially active person joins and participates in. Some of the trends are of those that are very essential and some of those are very bizarre. Nonetheless, people have been actively participating in these trends. One of the popular trends today is the Facebook Group “What’s Your Ulam, Pare?”.

                    </p>
                </li>

            </ul>
        </div>
    </div>

    <div class="col-lg-6">
        <br />
        <br />
        <br />

        <div class="thumbnail">
            <img src='../Images/Picture1.png' />

        </div>
        <br />
        <div class="thumbnail">
            <img src='../Images/Picture2.png' />

        </div>
        <br />
        <br />
    </div>







    <div class="col-lg-12">

        <div class="col-lg-4">
            <img src='../Images/Picture4.png' />
        </div>
        <br />
        <div class="col-lg-4">
            <div class="well" style="background-color:white">
                <ul>
                    <li>
                        <p>
                            The members of this group share their love of food and the wit of their captions for these foods. Being just a Facebook group, these members have limitations on what they can share and some members are not really interested in the posts’ food contents but are interested in the captions that are witty and different.

                        </p>
                    </li>

                </ul>
            </div>
        </div>

        <div class="col-lg-offset-8">
            <img src='../Images/Picture3.png' />
        </div>
    </div>



    <br />

</div>