@{
    ViewBag.Title = "Home Page";
}

<body style="background-color:ghostwhite">
    <div class="navbar navbar-fixed-top" style="background-color:whitesmoke">
        <div class="container">
            <div class="col-lg-10">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href='http://localhost:2697/Users/Index'><img src='../Images/foodies2.png' width='125' /></a>

                </div>
                <div class="nav-divider">
                    <ul class="nav navbar-nav">
                        <li></li>



                    </ul>

                </div>

                <div class="navbar-form">
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href='http://localhost:2697/Users/Login'>Login</a></li>
                    <li><a href='http://localhost:2697/Users/Add'>Register</a></li>

                </ul>

            </div>


        </div>
    </div>

    <br />
    <br />
    <br />
    <br />
    <h1 class="col-lg-offset-4"><strong>Welcome to Foodies!</strong></h1>
    <br />
    <br />
    <br />
    <br />
    
        <div class="col-lg-offset-2">
            <img src="../Images/foodies2.png" style="position:center; position: fixed" />
        </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
   
</body>







